body{
    background-color: bisque;
}

p{
    color: rgb(94, 7, 7);
    text-align: center;
    font-size: 2em;

}

.titulo{
    text-align: center;
}

div p{
    color: blue;
}

div > p{
    color: orange;
}
